<div class="ui basic segment">
    <div class="ui card">
      <div class="content">
        <a class="header">Wishlist title</a>
        <div class="meta">
          <span class="date">added on </span>
        </div>
        <ul class="ui list">
          <!--li *ngFor="let ingredient of ingredients">
            <app-ingredient [ingredient]="ingredient"></app-ingredient>
          </li-->
        </ul>
        <button class="ui icon button">
          <i class="trash outline icon"></i>
        </button>
      </div>
    </div>
  </div>