<div class="ui basic segment">
  <div class="ui card">
    <div class="content">
      <a class="header">{{ todo.title }}</a>
      <div class="meta">
        <span class="date">added on {{ todo.dateAdded | date }}</span>
      </div>
      <ul class="ui list">
        <li *ngFor="let todoItem of todoItems">
          <app-todo-item [title]="todoItem"></app-todo-item>
        </li>
      </ul>
      <!--button class="ui icon button" (click)="removeTodo()">
        <i class="trash outline icon"></i>
      </button-->
    </div>
  </div>
</div> 