<form [formGroup]='user' class="ui large form segment clearing">
  <h3 class="ui header">Login</h3>
  <div class="field">
    <label for="username">Username:</label>
    <input type="text" id="username" formControlName='username'>
    <div class="ui pointing red basic label" *ngIf='user.get("username").errors?.userAlreadyExists && user.get("username").touched'>
      a user with that name already exists
    </div>
  </div>
  <div class="field">
    <label for="password">Password:</label>
    <input type="password" id="password" formControlName='password'>
    <div class="ui pointing red basic label" *ngIf='user.get("password").errors?.passwordTooShort && user.get("password").touched'>
      password too short, please use at least {{passwordControl.errors?.passwordTooShort.requiredLength}} letters (got {{passwordControl.errors?.passwordTooShort.actualLength}})
    </div>
  </div>
  <button class="ui positive right floated button" type="submit" [disabled]='!user.valid'>Login</button>
</form>