<div class="ui container">
  <div class="ui basic segment">
    <app-add-todo (newTodo)="newTodoAdded($event)">
    </app-add-todo>
  </div>
  <div class="ui segment">
    <div class="ui basic segment input">
      <input type="text" placeholder="filter todo..." name="filter" 
        (keyup)='filterTodo$.next($event.target.value)' id="filter">
      <!--button (click)="applyFilter(filter.value)">filter</button-->
    </div>
    <div class="ui cards">
      <app-todo *ngFor='let localTodo of todos | todoFilter: 
        filterTodoTitle' [todo]='localTodo'></app-todo>
    </div>
  </div>
</div>