<div class="ui container">
    <div class="ui basic segment">
      <app-add-todo (newTodoList)="addTodoList($event)">
      </app-add-todo>
    </div>
    <div class="ui segment">
      <div class="ui basic segment input">
        <input type="text" placeholder="search to-do list..." name="filter" 
          (keyup)='filterTodolist$.next($event.target.value)' id="filter">
        <!--button (click)="applyFilter(filter.value)">filter</button-->
      </div>
      <div class="ui cards equal width">
        <h4 *ngIf="loading">Loading...</h4>
        <app-todo-list *ngFor='let todolist of _todolists | todoSort | todoFilter: 
          filterTodolistTitle '        
          [todoList]='todolist'>
        </app-todo-list>
      </div>
    </div>
  </div>