<div class="ui large top hidden segment menu">
  <div class="ui container">
    <a class="active item">Home</a>
      <a class="item">Account</a>
      <div class="right menu">
        <div class="item">
          <a class="ui button">Log in</a>
        </div>
        <div class="item">
          <a class="ui primary button">Sign Up</a>
        </div>
      </div>    
  </div>
</div>
<div class="ui segment">
    <div class="ui cards">
      <app-wish-list class="ui card"></app-wish-list>
    </div>
  </div>
