<form [formGroup]='recipe' class="ui large form segment clearing" (ngSubmit)='onSubmit()'>
  <h3 class="ui header">Add recipe</h3>
  <div class="field">
    <label for="name">Name:</label>
    <input id="name_id" formControlName='name' #spy>
  </div>
  <div formArrayName='ingredients' *ngFor='let item of recipe.get("ingredients").controls;
            let i = index' class="ui form segment">
    <div [formGroupName]='i'>
      <h4 for="ingredient_block">Ingredient:</h4>
      <div>
        <div class="field">
          <label for="ingredient_name">Name:</label>
          <input type="text" id="ingredient_name" formControlName='ingredientname'>
        </div>
        <div class="field">
          <label for="ingredient_amount">Amount:</label>
          <input type="text" id="ingredient_amount" formControlName='amount'>
        </div>
        <div class="field">
          <label for="ingredient_unittye">Unit:</label>
          <select id="ingredient_unittye" formControlName="unit">
            <option *ngFor='let type of unitTypes' [value]="type">
              {{type}}
            </option>
          </select>
        </div>
      </div>
    </div>
  </div>
  <button class="ui positive right floated button" type="submit">
    Add recipe
  </button>
</form>